:root {
  --first-color: khaki;
  --second-color: white;
  --third-color: blue;
  --fourth-color: mediumspringgreen;
  --fifth-color: lightcoral;
  --sixth-color: skyblue;
}

h1 {
  background-image: url(../images/pattern.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 100px;
  color: var(--first-color);
  text-align: center;
  }

h1,
h2,
h3,
p {
  font-family: Helvetica;
}

.item h2 {
  font-size: 32px;
  color: var(--second-color);
}

.price {
  font-weight: bold;
  color: var(--third-color);
}

#brush {
  background-color: var(--fourth-color);
}

#fram {
  background-color: var(--fifth-color);
}

#pain {
  background-color: var(--sixth-color);
}
